.Home {
    background: grey;
    display: flex;
    height: 950px;
    padding-top: 80px;
    flex-direction: column;
    position: relative; /*parent is set as relative */
}

h1 {
    margin: 0;
    padding-top: 40px;
}

.Maldivesimg {
    left: 15%; /* for centralising, since it got left aligned */
    bottom: 20%;
    width: 100%;
}
/*
.Seashoreimg {
    left: 15%; 
    bottom: 20%;
    width: 100%;
}
*/
.Container {
    color: white;
    position: absolute;
    left: 8%;
    top: 10%;
}
